/*可爱字体*/
@font-face {
  font-family: 'Pacifico';
  src: url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
  font-display: swap;
}

div#runtime {
  display: block; /* 单独占一行 */
  margin: 0 auto; /* 让内容居中 */
  color: #fff;
  padding: 2px 5px; /* 控制背景与文字之间的距离 */
  border-radius: 10px;
  background-color: rgba(0,0,0,0.7);
  font-family: 'Pacifico', cursive; /* 使用可爱字体 */
  font-size: 18px;
  line-height: 1.1; /* 控制行高 */
  letter-spacing: -0.5px;
  width: fit-content; /* 让背景宽度自适应文字宽度 */
  white-space: nowrap; /* 禁止换行，确保内容在一行内显示 */
  overflow: visible; /* 确保不隐藏溢出内容 */
}

[data-theme="dark"] div#runtime {
  color: #28b4c8;
  box-shadow: 0 0 5px rgba(28,69,218,0.71);
  animation: flashlight 1s linear infinite alternate;
}

/*悬停显示徽标提示语*/
a.github-badge:hover:before {
  position: fixed;
  width: fit-content;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
  border-radius: 10px;
  text-align: center;
  z-index: 100;
  content: attr(data-title);
  font-size: 20px;
  color: #fff;
  padding: 10px;
  background-color: var(--text-bg-hover);
}

[data-theme=dark] a.github-badge:hover:before {
  background-color: rgba(18,18,18,0.8);
}

@keyframes flashlight {
  from {
    box-shadow: 0 0 5px #1478d2;
  }
  to {
    box-shadow: 0 0 2px #1478d2;
  }
}
